CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_Default=y
CONFIG_KERNEL_KALLSYMS=n                                                              
CONFIG_KERNEL_DEBUG_INFO=n                                                            
CONFIG_KERNEL_DEBUG_KERNEL=n                                                          
CONFIG_STRIP_KERNEL_EXPORTS=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=1024
CONFIG_KERNEL_SQUASHFS_FRAGMENT_CACHE_SIZE=1
