CONFIG_DEFAULT_ppp=n
CONFIG_DEFAULT_ppp-mod-pppoe=n
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_AUTOREMOVE=n
# CONFIG_GCC_USE_VERSION_5 is not set
#CONFIG_GCC_USE_VERSION_7=y
# hardening
CONFIG_GCC_DEFAULT_SSP=y
CONFIG_GCC_DEFAULT_PIE=y
CONFIG_PKG_ASLR_PIE=y
CONFIG_ATH_USER_REGD=y
CONFIG_IB=y
CONFIG_IMAGEOPT=y
CONFIG_PACKAGE_rssileds=m
CONFIG_KERNEL_DEBUG_INFO=y
CONFIG_KERNEL_DEBUG_KERNEL=y
CONFIG_KERNEL_KALLSYMS=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_MKSWAP=n
CONFIG_BUSYBOX_CONFIG_SWAPONOFF=n
CONFIG_BUSYBOX_CONFIG_MKPASSWD=y
CONFIG_BUSYBOX_CONFIG_ARPING=y
CONFIG_BUSYBOX_CONFIG_NMETER=y
CONFIG_PACKAGE_ATH_DFS=y
CONFIG_PACKAGE_community-profiles=m
CONFIG_PACKAGE_iperf=m
CONFIG_PACKAGE_perf=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-filter=m
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_iwinfo=m
CONFIG_PACKAGE_wpad-mini=m
CONFIG_PACKAGE_hostapd-mini=m
CONFIG_PACKAGE_kmod-crypto-crc32c=m
CONFIG_PACKAGE_kmod-crypto-hash=m
CONFIG_PACKAGE_kmod-fs-cifs=m
CONFIG_PACKAGE_kmod-fs-ext4=m
CONFIG_PACKAGE_kmod-fs-vfat=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=m
CONFIG_PACKAGE_kmod-ipt-filter=m
CONFIG_PACKAGE_kmod-ipt-ipopt=m
CONFIG_PACKAGE_kmod-ledtrig-usbdev=m
CONFIG_PACKAGE_kmod-lib-crc-itu-t=m
CONFIG_PACKAGE_kmod-lib-crc16=m
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-lib-textsearch=m
CONFIG_PACKAGE_kmod-nls-utf8=m
CONFIG_PACKAGE_kmod-nls-iso8859-1=m
CONFIG_PACKAGE_kmod-nls-iso8859-15=m
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-sched=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-usb-acm=m
CONFIG_PACKAGE_kmod-usb-net=m
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=m
CONFIG_PACKAGE_kmod-usb-net-rndis=m
CONFIG_PACKAGE_kmod-usb-ohci=m
CONFIG_PACKAGE_kmod-usb-serial=m
CONFIG_PACKAGE_kmod-usb-serial-option=m
CONFIG_PACKAGE_kmod-usb-serial-wwan=m
CONFIG_PACKAGE_kmod-usb-storage=m
CONFIG_PACKAGE_kmod-usb2=m
CONFIG_PACKAGE_usbutils=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libiwinfo=m
CONFIG_PACKAGE_libiwinfo-lua=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblua=m
CONFIG_PACKAGE_liblzo=m
#CONFIG_PACKAGE_libncurses=m
#CONFIG_PACKAGE_libpthread=m
CONFIG_PACKAGE_librt=m
CONFIG_PACKAGE_libubus-lua=m
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_lua=m
CONFIG_PACKAGE_luci-app-olsr=m
CONFIG_PACKAGE_luci-app-olsr-services=m
CONFIG_PACKAGE_luci-app-owm=m
CONFIG_PACKAGE_luci-app-owm-cmd=m
CONFIG_PACKAGE_luci-base=m
CONFIG_PACKAGE_luci-lib-httpclient=m
CONFIG_PACKAGE_luci-lib-json=m
CONFIG_PACKAGE_luci-lib-luaneightbl=m
CONFIG_PACKAGE_luci-lib-nixio=m
CONFIG_PACKAGE_luci-mod-admin-full=m
CONFIG_PACKAGE_luci-mod-freifunk=m
CONFIG_PACKAGE_freifunk-common=m
CONFIG_PACKAGE_community-profiles=m
CONFIG_PACKAGE_luci-theme-bootstrap=m
CONFIG_PACKAGE_mtr=m
CONFIG_PACKAGE_olsrd=m
CONFIG_PACKAGE_olsrd-mod-arproaming=m
CONFIG_PACKAGE_olsrd-mod-arprefresh=m
CONFIG_PACKAGE_olsrd-mod-dyn-gw=m
CONFIG_PACKAGE_olsrd-mod-dyn-gw-plain=m
CONFIG_PACKAGE_olsrd-mod-jsoninfo=m
CONFIG_PACKAGE_olsrd-mod-nameservice=m
CONFIG_PACKAGE_olsrd-mod-txtinfo=m
CONFIG_PACKAGE_olsrd-mod-watchdog=m
CONFIG_PACKAGE_olsrd-mod-httpinfo=m
CONFIG_PACKAGE_om-watchdog=m
CONFIG_PACKAGE_tc=m
CONFIG_PACKAGE_opkg=m
CONFIG_PACKAGE_tcpdump-mini=m
#CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_uhttpd=m
CONFIG_PACKAGE_uhttpd-mod-ubus=m
CONFIG_PACKAGE_vtun=m
CONFIG_PACKAGE_resolveip=m
#CONFIG_PACKAGE_kalua=m
#CONFIG_PACKAGE_kalua-trunk=m
#CONFIG_PACKAGE_kalua-bittorf=m
CONFIG_PACKAGE_weimarnetz-ffwizard=m
CONFIG_PACKAGE_weimarnetz-next=m
CONFIG_PACKAGE_luci-app-weimarnetz=m
CONFIG_PACKAGE_firewall=m
CONFIG_PACKAGE_kmod-ipt-nat=m
CONFIG_PACKAGE_kmod-nf-nat=m
CONFIG_VERSIONOPT=y
#CONFIG_VERSION_DIST="weimarnetz"
#CONFIG_VERSION_HWREV=""
#CONFIG_VERSION_MANUFACTURER=""
#CONFIG_VERSION_NICK="weimarnetz"
#CONFIG_VERSION_NUMBER="0.0.5"
CONFIG_VERSION_PRODUCT="weimarnetz"
CONFIG_VERSION_REPO="http://buildbot.weimarnetz.de/builds/trunk/firmwares/%R/%T/packages"
CONFIG_PACKAGE_kmod-lib-crc-ccitt=m
CONFIG_PACKAGE_kmod-rt61-pci=m
CONFIG_PACKAGE_kmod-rt73-usb=m
CONFIG_PACKAGE_kmod-rtl8180=m
CONFIG_PACKAGE_kmod-rtl8187=m
CONFIG_PACKAGE_kmod-rtl8192c-common=m
CONFIG_PACKAGE_kmod-rtl8192ce=m
CONFIG_PACKAGE_kmod-rtl8192cu=m
CONFIG_PACKAGE_kmod-rtl8192de=m
CONFIG_PACKAGE_kmod-rtl8192se=m
CONFIG_PACKAGE_kmod-rtl8xxxu=m
CONFIG_PACKAGE_kmod-rtlwifi=m
CONFIG_PACKAGE_kmod-rtlwifi-pci=m
CONFIG_PACKAGE_kmod-rtlwifi-usb=m
CONFIG_PACKAGE_rt61-pci-firmware=m
CONFIG_PACKAGE_rt73-usb-firmware=m
CONFIG_PACKAGE_rtl8188eu-firmware=m
CONFIG_PACKAGE_rtl8192ce-firmware=m
CONFIG_PACKAGE_rtl8192cu-firmware=m
CONFIG_PACKAGE_rtl8192de-firmware=m
CONFIG_PACKAGE_rtl8192se-firmware=m
CONFIG_PACKAGE_rtl8192su-firmware=m
CONFIG_PACKAGE_wl12xx-firmware=m
CONFIG_PACKAGE_wl18xx-firmware=m
CONFIG_PACKAGE_ip-full=m
CONFIG_PACKAGE_ip-tiny=m
CONFIG_PACKAGE_464xlat=m
#CONFIG_PACKAGE_kadnode=m
#CONFIG_PACKAGE_luci2-app-olsrd2=m
#CONFIG_PACKAGE_luci2-app-ffwizard=m
#CONFIG_PACKAGE_tunneldigger=m
CONFIG_PACKAGE_oonf-olsrd2=m
CONFIG_PACKAGE_kmod-sched-cake=m
#CONFIG_PACKAGE_luci2-ffwizard=m
#CONFIG_PACKAGE_babeld=m
CONFIG_PACKAGE_sqm-scripts=m
CONFIG_PACKAGE_gdb=m
CONFIG_PACKAGE_iwinfo=m
CONFIG_PACKAGE_libiwinfo=m
CONFIG_PACKAGE_libiwinfo-lua=m
CONFIG_PACKAGE_rpcd-mod-iwinfo=m
CONFIG_PACKAGE_wireguard=m
CONFIG_PACKAGE_wireguard-tools=m
CONFIG_PACKAGE_kmod-wireguard=m
CONFIG_PACKAGE_usbutils=m
CONFIG_PACKAGE_block-mount=m
CONFIG_PACKAGE_kmod-mac80211-hwsim=m
CONFIG_LUCI_LANG_de=m
CONFIG_LUCI_LANG_en=m
CONFIG_PACKAGE_data-weimar=m
CONFIG_PACKAGE_data-camburg=m
CONFIG_PACKAGE_dump1090=m
CONFIG_PACKAGE_ohybridproxy=m
CONFIG_PACKAGE_hnet-full=m
