CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
#CONFIG_TARGET_ALL_PROFILES=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_abt_asr3000=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_acelink_ew-7886cax=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_acer_vero-w6m=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_acer_predator-w6=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_acer_predator-w6d=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_smartrg_sdg-8612=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_smartrg_sdg-8614=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_smartrg_sdg-8622=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_smartrg_sdg-8632=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_smartrg_sdg-8733=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_smartrg_sdg-8733a=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_smartrg_sdg-8734=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_arcadyan_mozart=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_asus_rt-ax59u=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_asus_tuf-ax4200=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_asus_tuf-ax6000=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_bananapi_bpi-r3=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_bananapi_bpi-r3-mini=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_bananapi_bpi-r4=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_bananapi_bpi-r4-poe=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cetron_ct3003=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_rax3000m=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_comfast_cf-e393ax=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_confiabits_mt7981=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_ap3000outdoor-v1=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_ap3000-v1=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_m3000-v1=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_re3000-v1=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_tr3000-v1=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_wr3000-v1=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_wr3000s-v1=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_dlink_aquila-pro-ai-m30-a1=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_dlink_aquila-pro-ai-m60-a1=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_edgecore_eap111=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_gatonetworks_gdsp=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt2500=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt3000=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt6000=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-x3000=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-xe3000=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_h3c_magic-nx30-pro=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_jcg_q30-pro=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_jdcloud_re-cp-03=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7981-rfb=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7986a-rfb-nand=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7988a-rfb=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mediatek_mt7986b-rfb=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mercusys_mr90x-v1=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_mercusys_mr90x-v1-ubi=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netcore_n60=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netgear_wax220=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_nokia_ea0326gmp=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_openembed_som7981=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_openwrt_one=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_qihoo_360t7=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_routerich_ax3000=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_routerich_ax3000-ubootmod=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_ruijie_rg-x60-pro=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_re6000xd=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xdr4288=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xdr6086=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xdr6088=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xtr8488=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_ubnt_unifi-6-plus=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_unielec_u7981-01-emmc=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_unielec_u7981-01-nand=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_wavlink_wl-wn586x3=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t-ubootmod=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-ubootmod=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-stock=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000-ubootmod=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000-stock=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_yuncore_ax835=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zbtlink_zbt-z8102ax=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zbtlink_zbt-z8103ax=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zyxel_ex5601-t0-ubootmod=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zyxel_ex5601-t0-stock=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zyxel_ex5700-telenor=y
#CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zyxel_nwa50ax-pro=y
CONFIG_TARGET_BOARD="mediatek"
CONFIG_TARGET_SUBTARGET="filogic"
CONFIG_TARGET_ARCH_PACKAGES="aarch64_cortex-a53"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mcpu=cortex-a53"
CONFIG_CPU_TYPE="cortex-a53"
CONFIG_DEFAULT_e2fsprogs=y
CONFIG_DEFAULT_f2fsck=y
CONFIG_DEFAULT_fdisk=y
CONFIG_DEFAULT_fitblk=y
CONFIG_DEFAULT_kmod-crypto-hw-atmel=y
CONFIG_DEFAULT_kmod-crypto-hw-safexcel=y
CONFIG_DEFAULT_kmod-eeprom-at24=y
CONFIG_DEFAULT_kmod-fs-f2fs=y
CONFIG_DEFAULT_kmod-gpio-beeper=y
CONFIG_DEFAULT_kmod-hwmon-pwmfan=y
CONFIG_DEFAULT_kmod-i2c-gpio=y
CONFIG_DEFAULT_kmod-i2c-mux-pca954x=y
CONFIG_DEFAULT_kmod-leds-gca230718=y
CONFIG_DEFAULT_kmod-leds-ktd202x=y
CONFIG_DEFAULT_kmod-leds-ws2812b=y
CONFIG_DEFAULT_kmod-mt7915-firmware=y
CONFIG_DEFAULT_kmod-mt7915e=y
CONFIG_DEFAULT_kmod-mt7916-firmware=y
CONFIG_DEFAULT_kmod-mt7981-firmware=y
CONFIG_DEFAULT_kmod-mt7986-firmware=y
CONFIG_DEFAULT_kmod-mt7996-233-firmware=y
CONFIG_DEFAULT_kmod-mt7996-firmware=y
CONFIG_DEFAULT_kmod-nvme=y
CONFIG_DEFAULT_kmod-phy-airoha-en8811h=y
CONFIG_DEFAULT_kmod-phy-aquantia=y
CONFIG_DEFAULT_kmod-rtc-pcf8563=y
CONFIG_DEFAULT_kmod-sfp=y
CONFIG_DEFAULT_kmod-ubootenv-nvram=y
CONFIG_DEFAULT_kmod-usb-net-cdc-mbim=y
CONFIG_DEFAULT_kmod-usb-net-qmi-wwan=y
CONFIG_DEFAULT_kmod-usb-serial-option=y
CONFIG_DEFAULT_kmod-usb-storage=y
CONFIG_DEFAULT_kmod-usb3=y
CONFIG_DEFAULT_mkf2fs=y
CONFIG_DEFAULT_mt7981-wo-firmware=y
CONFIG_DEFAULT_mt7986-wo-firmware=y
CONFIG_DEFAULT_mt7988-2p5g-phy-firmware=y
CONFIG_DEFAULT_mt7988-wo-firmware=y
CONFIG_DEFAULT_partx-utils=y
CONFIG_DEFAULT_uboot-envtools=y
CONFIG_DEFAULT_uqmi=y
CONFIG_DEFAULT_zyxel-bootconfig=y
CONFIG_HAS_FPU=y
CONFIG_HAS_DT_OVERLAY_SUPPORT=y
CONFIG_PCIE_SUPPORT=y
CONFIG_USES_SEPARATE_INITRAMFS=y
CONFIG_EMMC_SUPPORT=y
CONFIG_ARCH_64BIT=y
CONFIG_USES_ROOTFS_PART=y
CONFIG_aarch64=y
CONFIG_ARCH="aarch64"
CONFIG_TARGET_ROOTFS_INITRAMFS_SEPARATE=y
CONFIG_TARGET_ROOTFS_PARTSIZE=448
CONFIG_KERNEL_FRAME_WARN=2048
CONFIG_MOLD=y
CONFIG_TARGET_OPTIMIZATION="-Os -pipe -mcpu=cortex-a53"
CONFIG_PACKAGE_fitblk=m
CONFIG_PACKAGE_trusted-firmware-a-mt7981-emmc-ddr3=m
CONFIG_PACKAGE_trusted-firmware-a-mt7981-emmc-ddr4=m
CONFIG_PACKAGE_trusted-firmware-a-mt7981-nor-ddr3=m
CONFIG_PACKAGE_trusted-firmware-a-mt7981-nor-ddr4=m
CONFIG_PACKAGE_trusted-firmware-a-mt7981-ram-ddr3=m
CONFIG_PACKAGE_trusted-firmware-a-mt7981-ram-ddr4=m
CONFIG_PACKAGE_trusted-firmware-a-mt7981-sdmmc-ddr3=m
CONFIG_PACKAGE_trusted-firmware-a-mt7981-snand-ddr3=m
CONFIG_PACKAGE_trusted-firmware-a-mt7981-spim-nand-ddr3=m
CONFIG_PACKAGE_trusted-firmware-a-mt7981-spim-nand-ddr4=m
CONFIG_PACKAGE_trusted-firmware-a-mt7981-spim-nand-ubi-ddr4=m
CONFIG_PACKAGE_trusted-firmware-a-mt7986-emmc-ddr4=m
CONFIG_PACKAGE_trusted-firmware-a-mt7986-nor-ddr4=m
CONFIG_PACKAGE_trusted-firmware-a-mt7986-ram-ddr3=m
CONFIG_PACKAGE_trusted-firmware-a-mt7986-ram-ddr4=m
CONFIG_PACKAGE_trusted-firmware-a-mt7986-sdmmc-ddr4=m
CONFIG_PACKAGE_trusted-firmware-a-mt7986-spim-nand-4k-ddr4=m
CONFIG_PACKAGE_trusted-firmware-a-mt7986-spim-nand-ddr3=m
CONFIG_PACKAGE_trusted-firmware-a-mt7986-spim-nand-ddr4=m
CONFIG_PACKAGE_trusted-firmware-a-mt7986-spim-nand-ubi-ddr3=m
CONFIG_PACKAGE_trusted-firmware-a-mt7986-spim-nand-ubi-ddr4=m
CONFIG_PACKAGE_trusted-firmware-a-mt7988-emmc-comb=m
CONFIG_PACKAGE_trusted-firmware-a-mt7988-nor-comb=m
CONFIG_PACKAGE_trusted-firmware-a-mt7988-ram-comb=m
CONFIG_PACKAGE_trusted-firmware-a-mt7988-sdmmc-comb=m
CONFIG_PACKAGE_trusted-firmware-a-mt7988-snand-comb=m
CONFIG_PACKAGE_trusted-firmware-a-mt7988-spim-nand-comb=m
CONFIG_PACKAGE_trusted-firmware-a-mt7988-spim-nand-ubi-comb=m
CONFIG_PACKAGE_u-boot-mt7981_abt_asr3000=m
CONFIG_PACKAGE_u-boot-mt7981_cmcc_rax3000m-emmc=m
CONFIG_PACKAGE_u-boot-mt7981_cmcc_rax3000m-nand=m
CONFIG_PACKAGE_u-boot-mt7981_gatonetworks_gdsp=m
CONFIG_PACKAGE_u-boot-mt7981_glinet_gl-x3000=m
CONFIG_PACKAGE_u-boot-mt7981_glinet_gl-xe3000=m
CONFIG_PACKAGE_u-boot-mt7981_h3c_magic-nx30-pro=m
CONFIG_PACKAGE_u-boot-mt7981_jcg_q30-pro=m
CONFIG_PACKAGE_u-boot-mt7981_nokia_ea0326gmp=m
CONFIG_PACKAGE_u-boot-mt7981_openwrt_one-nor=m
CONFIG_PACKAGE_u-boot-mt7981_openwrt_one-snand=m
CONFIG_PACKAGE_u-boot-mt7981_qihoo_360t7=m
CONFIG_PACKAGE_u-boot-mt7981_rfb-emmc=m
CONFIG_PACKAGE_u-boot-mt7981_rfb-nor=m
CONFIG_PACKAGE_u-boot-mt7981_rfb-sd=m
CONFIG_PACKAGE_u-boot-mt7981_rfb-snfi=m
CONFIG_PACKAGE_u-boot-mt7981_rfb-spim-nand=m
CONFIG_PACKAGE_u-boot-mt7981_routerich_ax3000=m
CONFIG_PACKAGE_u-boot-mt7981_xiaomi_mi-router-ax3000t=m
CONFIG_PACKAGE_u-boot-mt7981_xiaomi_mi-router-wr30u=m
CONFIG_PACKAGE_u-boot-mt7986_bananapi_bpi-r3-emmc=m
CONFIG_PACKAGE_u-boot-mt7986_bananapi_bpi-r3-mini-emmc=m
CONFIG_PACKAGE_u-boot-mt7986_bananapi_bpi-r3-mini-snand=m
CONFIG_PACKAGE_u-boot-mt7986_bananapi_bpi-r3-nor=m
CONFIG_PACKAGE_u-boot-mt7986_bananapi_bpi-r3-sdmmc=m
CONFIG_PACKAGE_u-boot-mt7986_bananapi_bpi-r3-snand=m
CONFIG_PACKAGE_u-boot-mt7986_glinet_gl-mt6000=m
CONFIG_PACKAGE_u-boot-mt7986_jdcloud_re-cp-03=m
CONFIG_PACKAGE_u-boot-mt7986_mercusys_mr90x-v1=m
CONFIG_PACKAGE_u-boot-mt7986_netcore_n60=m
CONFIG_PACKAGE_u-boot-mt7986_tplink_tl-xdr4288=m
CONFIG_PACKAGE_u-boot-mt7986_tplink_tl-xdr6086=m
CONFIG_PACKAGE_u-boot-mt7986_tplink_tl-xdr6088=m
CONFIG_PACKAGE_u-boot-mt7986_tplink_tl-xtr8488=m
CONFIG_PACKAGE_u-boot-mt7986_xiaomi_redmi-router-ax6000=m
CONFIG_PACKAGE_u-boot-mt7986_zyxel_ex5601-t0=m
CONFIG_PACKAGE_u-boot-mt7988_arcadyan_mozart=m
CONFIG_PACKAGE_u-boot-mt7988_bananapi_bpi-r4-emmc=m
CONFIG_PACKAGE_u-boot-mt7988_bananapi_bpi-r4-poe-emmc=m
CONFIG_PACKAGE_u-boot-mt7988_bananapi_bpi-r4-poe-sdmmc=m
CONFIG_PACKAGE_u-boot-mt7988_bananapi_bpi-r4-poe-snand=m
CONFIG_PACKAGE_u-boot-mt7988_bananapi_bpi-r4-sdmmc=m
CONFIG_PACKAGE_u-boot-mt7988_bananapi_bpi-r4-snand=m
CONFIG_PACKAGE_u-boot-mt7988_rfb-emmc=m
CONFIG_PACKAGE_u-boot-mt7988_rfb-nor=m
CONFIG_PACKAGE_u-boot-mt7988_rfb-sd=m
CONFIG_PACKAGE_u-boot-mt7988_rfb-snand=m
CONFIG_PACKAGE_u-boot-mt7988_rfb-spim-nand=m
CONFIG_PACKAGE_eip197-mini-firmware=m
CONFIG_PACKAGE_kmod-crypto-hw-safexcel=m
CONFIG_PACKAGE_kmod-leds-gca230718=m
CONFIG_PACKAGE_kmod-leds-ws2812b=m
CONFIG_PACKAGE_kmod-mt7981-firmware=m
CONFIG_PACKAGE_kmod-mt7986-firmware=m
