CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_Default=y
CONFIG_PACKAGE_kmod-mt7603=m
CONFIG_PACKAGE_kmod-mt76x2=m
CONFIG_PACKAGE_kmod-ata-ahci=m
CONFIG_PACKAGE_kmod-ata-core=m
CONFIG_PACKAGE_kmod-sdhci-mt7620=m
CONFIG_PACKAGE_uboot-envtools=m
CONFIG_PACKAGE_kmod-mt7663-firmware-ap=m
